@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
  display: none;
}

.brand-font {
  font-family: 'Audiowide', sans-serif;
}

.fc {
  @apply min-h-[30rem];
}

.fc .fc-list,
.fc .fc-multimonth {
  @apply dark:border-gray-700;
}

.fc .fc-list-empty {
  @apply bg-gray-50 dark:bg-gray-800;
}

.fc .fc-theme-standard td,
.fc .fc-theme-standard th,
.fc .fc-theme-standard .fc-scrollgrid {
  @apply dark:border-gray-700;
}

.fc .fc-scrollgrid-section-sticky>* {
  @apply dark:bg-gray-800;
}

.fc .fc-cell-shaded,
.fc .fc-day-disabled {
  @apply dark:bg-gray-900;
}

.fc .fc-multimonth-daygrid {
  background: transparent;
}